dj-database-url==0.4.2
Django==2.0.2
gunicorn==19.7.1
matplotlib==2.1.2
numpy==1.14.1
panda==0.3.1
pandas==0.22.0
psycopg2==2.7.5
pandas-datareader==0.6.0
pbr==3.1.1
plotly==2.4.1
scipy==1.0.0
whitenoise==3.3.1
pillow==5.1.0
