{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Merci de remplir (et confirmer) votre nouveau mot de passe.</p>
        {% load i18n %}
        {% language 'fr' %}
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nouveau mot de passe:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmer votre mot de passe:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Changer mon mot de passe" /></td>
                </tr>
            </table>
        </form>
        {% endlanguage %}
    {% else %}
        <h2>La modification du mot de passe a échouée</h2>
        <p>Le lien pour modifier le mot de passe est invalide, cela a eu lieu peut-être parce qu'il a déjà été utilisé. Nous vous prions de redemander un nouveau mot de pass.</p>
    {% endif %}

{% endblock %}