{% extends "base_generic.html" %}

{% block content %}
<h1>Page d'accueil</h1>


<h2>Bienvenue sur le site du Séminaire Consultant 2018 de l’Ecole Centrale de Lyon. </h2>
 
<p>Le Séminaire Consultant 2018 sur le thème des Jeux Olympiques se veut être un événement de partage dynamique et ouvert entre des consultants et des élèves ingénieurs de dernière année.</p>
 
<p>Ce site vous permet de prendre connaissance des entreprises présentes au séminaire dans l’onglet Entreprises, et il vous accompagnera toute la journée pour consulter le programme en temps réel. Ce séminaire s’articule autour de différentes activités divertissantes favorisant l’échange informel, que vous pouvez retrouver dans l’onglet Activités. </p>

<^>Passez une bonne journée, en gardant à l’esprit les valeurs des Jeux Olympiques, qui sont l’excellence, l’amitié, le respect, et le partage, ainsi que les valeurs de l’École Centrale de Lyon qui les rejoignent, à savoir l’enthousiasme, la diversité et l’engagement ! </p>

 {% if user.is_authenticated %}
 {% else %}
 <h2>Votre première connexion ?</h2>
 <br>
 <p><a href="{% url 'signup'%}">Créer un compte</a></p>
 {% endif %} 
{% endblock %}

