{% extends "base_generic.html" %}

{% block content %}
<h1>Page d'accueil</h1>

 <h2> Bienvenue sur notre site </h2>
 <p>Ce site vous permet de prendre connaissance des entreprises participantes aux séminaires consultants, et du programme créé pour vous, étudiant ou consultant, durant cette journée. </p>
 <p> Vous allez vivre un séminaire aux couleurs du jeux olympiques et partager une expérience regroupant sports et métiers du conseil. </p>
 {% if user.is_authenticated %}
 {% else %}
 <h2>Votre première connexion ?</h2>
 <br>
 <p><a href="{% url 'signup'%}">Créer un compte</a></p>
 {% endif %} 
{% endblock %}

